<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
	$(document).ready(function () {
		var w = $('#corpse').width();

		var socket = io();
	  	socket.on('new_object', function (data) {
	  		addImage(data);
	 	});

	 	socket.on('current_objects', function (data) {
	 		for (var i = 0; i < data.length; i++) {
	 			addImage(data[i]);
	 		}
	 	});
	 	function addImage(data) {
	  		var verticalOffset = Math.floor(Math.random() * ((data.imageheight-200) - 0) + 0);
	  		var imageURL = data.iiifbaseuri + "/0," + verticalOffset + "," + data.imagewidth + ",200/full/0/native.jpg";

	  		$("#corpse").append("<img class='img-responsive' src='" + imageURL + "'>");
	  	}

		console.log('ready');
  	});
</script>

<div class="container">
	<section id="corpse"></section>
</div>