<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
	<li><a href="/portraits">Exquisite portraits</a></li>
	<li><a href="/coins">Exquisite coins</a></li>
	<li><a href="/corpse">Exquisite corpse</a></li>
</ul>