<div class="container">
	<section>
		<img class="img-responsive" src="{{image_part_1}}">
		<img class="img-responsive" src="{{image_part_2}}">
		<img class="img-responsive" src="{{image_part_3}}">
	</section>
</div>