body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img-responsive {
	margin: 0 auto;
}

img, .corpse-slice {
	margin-bottom: 3px;
}

#corpse-h {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

img, .corpse-slice-h {
	/*margin-bottom: 3px;*/
	display: inline-block;
	height: 100%;
}